body {
  height: 100vh;
  overflow-y: hidden;
}

.position-div-center {
  margin: 5% auto;
  height: 50vh;
  width: 30vw;
}

.bg-light {
  background-color: aliceblue;
}

.bg-shadow {
  filter: drop-shadow(1px 1px 3px grey);
}

.d-flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-btn {
  color: white;
  background-color: blue;
  border-radius: 10px;
  padding: 10px;
  width: 8rem;
  cursor: pointer;
}

.primary-btn:active {
  transform: translateY(4px);
}

input,
select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: medium;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#entryDiv {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
  margin-top: 2rem;
  justify-content: center;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

@media only screen and (max-width: 768px) {
  .position-div-center {
    margin: 5% auto;
    height: 60vh;
    width: 70vw;
  }
}

@media only screen and (max-width: 425px) {
  #entryDiv {
    display: flex !important;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly !important;
    align-items: center;
    margin: 1rem !important;
    gap: 0 !important;
  }
}